#  docker compose up -d --build --force-recreate
services:
    jenkins:
        build: ./controller
        restart: always
        ports:
            - "8080:8080"
            - "50000:50000"
        volumes:
            - jenkins-data:/var/jenkins_home:rw
            - ./casc.d:/var/jenkins_home/casc.d/:ro
            # Mounting the ssh private key as "container secret" makes it available in JCasc as the variable ${SSH_AGENT_KEY}
            - ./secrets/id_jenkins.pem:/run/secrets/SSH_AGENT_KEY:ro
            #- ./secrets/converted-github-app.pem:GITHUB_APP_KEY:ro
        environment:
            - JENKINS_EXT_URL=http://localhost:8080
            - CASC_JENKINS_CONFIG=/var/jenkins_home/casc.d/
            - GITHUB_APP_ID
            - GITHUB_APP_KEY
            - ANDROID_PUBLISHER_CREDENTIALS
            - org.jenkinsci.plugins.durabletask.BourneShellScript.LAUNCH_DIAGNOSTICS=true
            # - JENKINS_OPTS=-Djenkins.install.runSetupWizard=false
    jenkins-agent:
        build: ./agent
        restart: unless-stopped
        volumes:
            - jenkins-agent-data:/home/jenkins:rw
            - /var/run/docker.sock:/var/run/docker.sock:rw
        environment:
            - JENKINS_AGENT_SSH_PUBKEY=ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBpNqXQ4x7fPPUBbYPxKF77Zqq6d35iPCD2chg644OUD noone@localhost.local
    android-agent:
        build: ../
        restart: unless-stopped
        volumes:
            - android-agent-data:/home/jenkins:rw
        environment:
            - JENKINS_AGENT_SSH_PUBKEY=ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBpNqXQ4x7fPPUBbYPxKF77Zqq6d35iPCD2chg644OUD
    emulator:
        image: us-docker.pkg.dev/android-emulator-268719/images/30-google-x64:30.1.2
        restart: unless-stopped
        ports:
            - 8554:8554
            - 5555:5555
        environment:
            - ADBKEY
        devices:
            - /dev/kvm


volumes:
    jenkins-data:
    jenkins-agent-data:
    android-agent-data:
