name: docker image building and pushing

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [ '*' ]
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Will build everyday at 4:30 and 16:30
    - cron:  '30 4,16 * * *'

jobs:
  paths-filter:
    runs-on: ubuntu-latest
    outputs:
      docker: ${{ steps.filter.outputs.docker }}
      docker-ignore: ${{ steps.filter.outputs.docker-ignore }}
      gradle-wrapper: ${{ steps.filter.outputs.gradle-wrapper }}
    steps:
      - uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            docker:
              - 'Dockerfile'
            docker-ignore:
              - '.dockerignore'
            gradle-wrapper:
              - 'gradle/wrapper/gradle-wrapper.properties'

  docker:
    # Wait from the paths-filter to be completed before starting next-job
    needs: paths-filter
    if: "!contains(toJson(needs.paths-filter.changes.outputs), ‘[]’)"
    # “!contains(toJson(github.event.pull_request.labels), ‘[]’)”
    runs-on: ubuntu-latest
    steps:  
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      -
        name: Build and push latest
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: gounthar/jenkinsci-docker-android-base:${{ steps.extract_branch.outputs.branch }}
